<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/cabecera.html :: titulo(tittle='Lista Pedidos')">

<body>
<div class="container">
    <nav th:replace="fragment/cabecera.html :: cabecera"></nav>

    <div class="container-pedido">
        <form method="post" th:action="@{/pedidos/buscar}">
            <input name="searchField" class="form-control mb-3" type="text" placeholder="Search" style="width: 50%"/>
             <button class="button btn-info">buscar</button>
            <a class="btn btn-outline-danger" th:href="@{/pedidos}">limpiar</a>
        </form>

        <div class="texto-pedidos">

            <div  th:each="Pedido,p:${listaPedidos}" th:height="200" th:width="600px">
                <h2 th:text="|Pedido ${Pedido.codigo}|"></h2>
                <div th:each="Producto, pro :${Pedido.getListaProductos()}" th:align="left" th:height="150px" th:width="450px">
                    <td th:text="${Producto.nombre} "></td>
                    <!--h3 th:text="${}"></h3-->
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>