<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/cabecera.html :: titulo(tittle='detalle producto')">

<body>

<div class="container">

        <nav th:replace="fragment/cabecera.html :: cabecera"></nav>

            <div class="container-datos">
                <h2 th:text="${produc.nombre}" ></h2>
                <div th:align="left" th:height="100px" th:width="100px" >
                    <img height="160px" width="160px" th:src="@{|imagenesexam/${produc.foto}|}"></img>
                </div>

                <div class="texto-producto" th:align="right" th:height="150px" th:width="450px">
                    <h3 th:text="|codigo producto : ${produc.codigoproducto}|"></h3>
                    <h3 th:text="|Precio : ${produc.precio}|"></h3>
                    <h3 th:text="|Stock : ${produc.stock}|"></h3>
                    <h3 th:text="|Descripcion : ${produc.descripcion}|"></h3>
                    <a class="btn btn-primary" th:height="20px" th:width="20px"  th:href="@{'/producto/'}">Regresar</a>
                    <a class="btn btn-danger" th:height="40px" th:width="150px"  th:href="@{'/producto/carrito'}">Agregar Carrito</a>
                </div>

            </div>

</div>
</body>
</html>