<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{'/css/bootstrap.css'}" >
</head>
<body>
<div sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0">
    <a class="nav-link" th:href="@{/loginForm}">Iniciar Sesión</a>
</div>
<div sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0">
    <span th:text="|Bienvenido ${#authentication.name}|"></span>
    <form th:action="@{/logout}" method="post">
        <input class="btn btn-link" type="submit" value="(Cerrar Sesión)"/>
    </form>
</div>

<div th:height="1200px" th:width="800px">
    <div th:height="200" th:width="600px">
        <h2 th:text="${produc.nombre}" ></h2>
        <div th:align="left" th:height="150px" th:width="100px">
            <h4>Aqui va la foto xD</h4>
        </div>
        <div th:align="right" th:height="150px" th:width="450px">
            <h3 th:text="${produc.codigoproducto}"></h3>
            <h3 th:text="${produc.precio}"></h3>
            <h3 th:text="${produc.stock}"></h3>
            <h3 th:text="${produc.descripcion}"></h3>
            <a class="btn btn-primary" th:height="20px" th:width="20px"  th:href="@{'/producto/'}">Regresar</a>
            <a class="btn btn-danger" th:height="40px" th:width="150px"  th:href="@{'/producto/carrito'}">Agregar Carrito</a>
        </div>
    </div>
    <h2>Aqui va la Paginacion</h2>
</div>
</body>
</html>