<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/cabecera.html :: titulo(tittle='Lista productos')">

<body>
<div class="container">
    <nav th:replace="fragment/cabecera.html :: cabecera"></nav>

    <a class="btn btn-primary mt-4 mb-4" th:href="@{'/producto/nuevo'}">Nuevo Producto</a>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <form method="post" th:action="@{/producto/buscar}" style="width: 50%">
        <input name="searchField" class="form-control mb-3" type="text" placeholder="Search"/>
        <button class="btn btn-info" type="submit">Buscar</button>
        <a class="btn btn-outline-danger" th:href="@{/producto}">limpiar</a>
    </form>
    <br>
    <br>
    <div th:height="1200px" th:width="800px">
        <div th:each="Producto,pro:${listaProductos}" th:height="200" th:width="600px">
            <div th:align="left" th:height="100px" th:width="100px">
                <h4>Aqui va la foto xD</h4>
            </div>

            <div th:align="right" th:height="100px" th:width="450px">
                <h3 th:text="${Producto.codigoproducto}"></h3>
                <h3 th:text="${Producto.nombre}"></h3>
                <h3 th:text="${Producto.precio}"></h3>
                <h3 th:text="${Producto.stock}"></h3>
                <a class="btn btn-info" th:height="20px" th:width="20px"  th:href="@{'/producto/detalle' + '?id=' + ${Producto.idproducto}}">+ Ver mas</a>
                <a class="btn btn-success" th:height="40px" th:width="150px"  th:href="@{'/producto/carrito'}">Agregar Carrito</a>
            </div>
        </div>
        <h2>Aqui va la Paginacion</h2>
    </div>

</div>


</body>
</html>